extends layout

block content
    div(id="message")
        p(id="message_text")
        button(id="message_ok") OK
    div(id="chat")
        form(id="msg-form" action="")
            input(id="m" autocomplete="off")
            button Send