doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    // socketIO stuff
    script(src='/socket.io/socket.io.js')

    // threeJS stuff
    script(src='/javascripts/three.min.js')

    script(src='/javascripts/inflate.min.js')
    // ^ ZIP lib
    script(src='/javascripts/FBXLoader.js')
    // ^ loading blender models
    script(src='/javascripts/OrbitControls.js')
    // ^ allows us to move around w/ mouse
    script(src='/javascripts/Detector.js')
    // ^ detects if WebGL is present
    script(src='/javascripts/toon3d.js')
    // ^ joystick
    script(src='https://code.jquery.com/jquery-1.11.1.js')

    script(src='/javascripts/game.js')
  body
    block content

    // threeJS stuff
    script.
        var game;
        document.addEventListener("DOMContentLoaded", function() { game = new Game(); });